body {
    margin:0;
    <!--background-color: #FBB917;-->
    
}

#tnavbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #314861;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid white;
}

#tnavbarli {
    float: left;
}

li a {
    display: block;  
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-family: Arial Black
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #1F2D3E;
}
    
    
#snavbar {
    list-style-type: none;
    padding: 0 ;
    width: 15%;
    <!--background-color: #314861;-->
    background-color: RGBA(255,255,255,200);
    position: fixed;
    right: 0px;
    top: 37px;
    height: 100%;
    overflow: auto;
    <!--border-left: 1px solid white;-->
    font-family: 'Roboto', sans-serif;
    
}

#homediv{
    padding: 20px;
    margin-top: 30px;
    height: 100%;

}
#infobar{

    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #314861;
    font-family: 'Roboto', sans-serif;
    color: white;
}
#infotext{
   text-align:  center;
    padding-top: 15px;
}
#mainbodycontent{
    width: 65%;
    margin-left: 10%;
    margin-top:2%;
    margin-bottom: 2%;
    margin-right: 10%;
    background-color: rgb(250,250,250);
    border-radius:  140px 45px;
    border: 1.5px solid #314861
}


h4{
    margin-left: 10%;
    margin-right: 10%;
   font-family: 'Roboto', sans-serif;
    
    font-weight: normal;  
}

h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    
}
h2{
    text-align: left;
    margin-left: 5%;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
h3{
    text-align: left;
    margin-left: 10%;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;

}
#mainbodycontentimg{

    width: 85%;
    margin-right: auto;
    margin-left: 7.5%;
    margin-top: 5%;
    margin-bottom: 55px;
}
#jumptext{
    font-size: 25;
    color: white;
    text-align: center;
}

#grad1 {
    
   height: 100%;
    background: #466368;
  background: -webkit-linear-gradient( #314861, #E7E9BB);
  background:    -moz-linear-gradient( #314861, #E7E9BB);
  background:         linear-gradient( #314861, #E7E9BB);
}
