/* */
body {
    margin:0;
   background-color: #314861; /* makes initial page load color before fade in */   
}
#grad1 {
    
   height: 100%;
    background: #466368;
  background: -webkit-linear-gradient( #314861, #E7E9BB);
  background:    -moz-linear-gradient( #314861, #E7E9BB);
  background:         linear-gradient( #314861, #E7E9BB);
}

/* Top Navigation Bar*/
#tnavbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #314861;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid white;
    z-index: 10;
}

#tnavbarli {
    float: left;
}

/* End top navigation bar */

/* List item formatting and colors for nav bars*/
li a {
    display: block;  
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-family: Arial Black
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #1F2D3E;
}
/* */
  
/*Side Page content navigation bar */
#snavbar {
    list-style-type: none;
    padding: 0 ;
    width: 15%;
    <!--background-color: #314861;-->
    background-color: RGBA(255,255,255,200);
    position: fixed;
    right: 0px;
    top: 37px;
    height: 90%;
    overflow: auto;
    font-family: 'Roboto', sans-serif;
    
}

#jumptext{
    font-size: 25;
    color: white;
    text-align: center;
}
/*end */

#homediv{
    padding: 20px;
    margin-top: 30px;
    height: 100%;

}

/*bar at the bottom*/
#infobar{

    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #314861;
    font-family: 'Roboto', sans-serif;
    color: white;
}
#infotext{
   text-align:  center;
    padding-top: 15px;
}
/* */

/* the main divs*/
#mainbodycontent{
    width: 65%;
    margin-left: 10%;
    margin-top:2%;
    margin-bottom: 2%;
    margin-right: 10%;
    background-color: rgb(255,255,255);
    border-radius:  140px 45px;
    border: 1.5px solid #314861
}

strong{
    font-size: 19px;
    font-weight: 900;
}
figcaption{
    margin-left: 15%;
    margin-right: auto;
    display: block;
}
hr{
    width: 75%;
    color: black;
}
h4{
    margin-left: 10%;
    margin-right: 10%;
   font-family: 'Roboto', sans-serif;
    
    font-weight: normal;  
}

h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    
}
h2{
    text-align: left;
    margin-left: 5%;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
h3{
    text-align: left;
    margin-left: 10%;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;

}
h5{
    
}
#mainbodycontentimg{
    margin-left: auto;
    margin-right: auto;
}
.centerimage{
    margin-left: auto;
    margin-right:auto;
    display: block;
}

#calculator1{
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    height: 500px;
}
#calculator2{
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    height: 500px;
}



/* organge read percent*/
progress {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 0;
    z-index: 11;


  /* Dimensions */
  width: 100%;
  height: 3px;

  /* Reset the apperance */  
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* For Firefox/IE10+ */
  background-color: transparent;

  /* For IE10+, color of the progress bar */
  color: #FBB917;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

.flat::-webkit-progress-value {
  background-color: #FBB917;
}

.flat::-moz-progress-bar {
  background-color: #FBB917;
}

.progress-container {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: .25em;
  display: block;
}

.progress-bar {
  background-color: #FBB917;
  width: 50%;
  display: block;
  height: inherit;
}
/*  */
